<nav>
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Followers</a></li>
        <li><a href="#">Posts</a></li>
      </ul>
    </div>
  </div>
</nav>

<nav>

<div>
  <ul>
    <li *ngIf="loginService.currentUser === 'user'" routerLinkActive="active"><a routerLink="/followers"
      [queryParams]="{ page: 1, order: 'newest'}">Followers</a></li>
    <li routerLinkActive="active"><a routerLink="/posts">Posts</a></li>
    <!-- <li *ngIf="!loginService.isLogged()" routerLinkActive="active"><a routerLink="/login">Login</a></li> -->
    <a *ngIf="!loginService.isLogged()" routerLink="/login"><button class="btn btn-success" > login 2</button></a>
    <a *ngIf="!loginService.isLogged()" routerLink="/register"><button class="btn btn-success" > register</button></a>
    <!-- <button *ngIf="!loginService.isLogged()" (click)="login()" class="btn btn-success">login</button> -->
    <button (click)="loginService.update()" class="btn btn-success">update</button>
    <button *ngIf="loginService.isLogged()" (click)="loginService.logout()" class="btn btn-success">logout</button>
    <a *ngIf="loginService.isLogged()" routerLink="/userDetail"><button class="btn btn-success" > User detail</button></a>
    <a *ngIf="loginService.isLogged() && loginService.isCompany" routerLink="/userWork"><button class="btn btn-success" > Competition manager</button></a>
    <a *ngIf="loginService.isLogged() && !loginService.isCompany" routerLink="/userPanel"><button class="btn btn-success" > search competition</button></a>

    <button (click)="authTest()" class="btn btn-success">testAuth()</button>
  </ul>
</div>

</nav>
