<div>
  <input (keyup.enter)="createNewPost(title)" #title 
  type="text" class="form-control">
</div>

<!-- <button (click)="getPosts()">get</button> -->

<div>
  "post | json"
</div>

<div *ngFor="let post of posts">
  <button 
  (click)="patchPost(post)"
  class="btn btn-default btn-sm">Patch</button>
  <button 
  (click)="updatePost(post)"
  class="btn btn-default btn-sm">Update</button>
  <button 
  (click)="deletePost(post)"
  class="btn btn-default btn-sm">Delete</button>
  {{post | json}} <button class="btn btn-info" (click)=delPosts(post.id)>id: {{post.id}}</button>
</div>

<!-- <div>
  <button (click)="createPost()">Create post</button>
  {{ newPost | async | json}}
</div> -->




<!-- <input type="text" class="form-control" (keyup.enter)="createPost(title)" #title>
<ul>
  <li *ngFor="let post of posts" class="list-group-item">
  {{post.title}}
  </li>
</ul> -->


