<div>
  <input (keyup.enter)="createNewPost(title)" #title 
  type="text" class="form-control">
</div>

<!-- <button (click)="getPosts()">get</button> -->

<div>
  "post | json"
</div>

<div *ngFor="let post of posts">
  {{post | json}}
</div>

<!-- <div>
  <button (click)="createPost()">Create post</button>
  {{ newPost | async | json}}
</div> -->




<!-- <input type="text" class="form-control" (keyup.enter)="createPost(title)" #title>
<ul>
  <li *ngFor="let post of posts" class="list-group-item">
  {{post.title}}
  </li>
</ul> -->


