<p>
  
  user-detail works!
  <button (click)="GetData()"> get data </button>

</p>
  <div>
    Login: {{user.userLogin | json }}
  </div>
  <div>
    Name: {{user.userName | json }}
  </div>
  <div>
    SureName: {{user.userSureName | json }}
  </div>
  <div>
    Address: {{user.userAddress | json }}
  </div>
  <div>
    City: {{user.userCity | json }}
  </div>
  <div>
    ZipCode: {{user.userZipCode | json }}
  </div>
  <div>
    Mail: {{user.userMail | json }}
  </div>
  <div>
    PhoneNumber: {{user.userPhoneNumber | json }}
  </div>
  <div>
    PhoneNumber2: {{user.userPhoneNumber2 | json }}
  </div>
  <div>
    Role: {{user.userRole | json }}
  </div>

  <button *ngIf="!showChangePassForm" (click)="runChangePasswordForm()">Submit</button>

  <div *ngIf="showChangePassForm">
    <form [formGroup]="passForm" (ngSubmit)="onSubmit()">
  
      <label>
        old password:
        <input [readonly]="isReady" type="text" formControlName="oldPass"> <br>        
        pass1:
        <input [readonly]="isReady" type="text" formControlName="pass1"> <br>
        pass2:
        <input [readonly]="isReady" type="text" formControlName="pass2"> <br>
      </label>  
      <button type="submit" [disabled]="!passForm.valid">Submit</button>

    </form>
   </div>