
<div *ngIf="registerFinished">

  <div class="alert alert-info">
    Registration successful. You should received confiramtion link on your email address. To use your account in full range please verify your email.
  </div>

</div>

<div (mouseover)="test2()" ng-init="count=0">Mouse over me!</div>

<h1>c{{count}}</h1>

<div *ngIf="!registerFinished">

  <select #opt (onInit)="onProfileChange(opt.value)" (change)="onProfileChange(opt.value)">
    <option value="person">Person</option>
    <option value="company">Company</option>
  </select><br>

  
  <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
 
    <label>User Login <input type="text" formControlName="UserLogin"></label><br>

    <label>Password <input type="text" formControlName="UserPass"></label><br>

    <label>Password 2 <input type="text" formControlName="UserPass2"></label><br>

    <label>
      <span *ngIf="userType=='person'">User name </span>
      <span *ngIf="userType=='company'">Club name </span>

      <input type="text" formControlName="UserName"></label><br>

    <label *ngIf="userType=='person'">Sure name 
      <input type="text" formControlName="UserSureName"></label><br *ngIf="userType=='person'">

    <label *ngIf="userType=='company'">Tax no <input type="text" formControlName="UserTaxNumber"></label><br *ngIf="userType=='company'">

    <label>Address <input type="text" formControlName="UserAddress"></label><br>

    <label>City <input type="text" formControlName="UserCity"></label><br>

    <label>Zip code <input type="text" formControlName="UserZipCode"></label><br>

    <label>E mail <input type="email" formControlName="UserMail"></label><br>

    <label>Phone number <input type="text" formControlName="UserPhoneNumber"></label><br>

    <label>Phone alternative <input type="text" formControlName="UserPhoneNumber2"></label><br>

    <label>User Role <input type="text" formControlName="UserRole"></label><br>
  
    
    <button type="submit" [disabled]="!loginForm.valid">Submit</button>
  </form>
</div>

