<!-- <p>
  register works!
</p> -->
<div *ngIf="errorMessage" [class.alert]=true [class.alert-danger]=true>
  ccc {{ errorMessage }}
</div>
<div>
  <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">

    <label>User Login <input type="text" formControlName="UserLogin"></label><br>
    <label>Password <input type="text" formControlName="UserPass"></label><br>
    <label>Password 2 <input type="text" formControlName="UserPass2"></label><br>
    <label>First name <input type="text" formControlName="UserName"></label><br>
    <label>Last name <input type="text" formControlName="UserSureName"></label><br>
    <label>Address <input type="text" formControlName="UserAddress"></label><br>
    <label>City <input type="text" formControlName="UserCity"></label><br>
    <label>Zip code <input type="text" formControlName="UserZipCode"></label><br>
    <label>E mail <input type="email" formControlName="UserMail"></label><br>
    <label>Phone number <input type="text" formControlName="UserPhoneNumber"></label><br>
    <label>Phone alternative <input type="text" formControlName="UserPhoneNumber2"></label><br>
    <label>User Role <input type="text" formControlName="UserRole"></label><br>
  
    
    <button type="submit" [disabled]="!loginForm.valid">Submit</button>
  </form>
</div>

<div>
  <div>


  <h1>Register yourself</h1>


  <form #userForm="ngForm" id="forms">

    <!-- userForm {{ userForm.value | json }} -->

    <!-- {{ userModel | json}} -->
    <!-- <div [class.alert]=true [class.alert-danger]=!control [class.alert-success]=control>{{ test }}</div> -->

    <label>Login name</label>
    <input [(ngModel)]="userModel.UserTest" name="UserTest" class="form-control" (keyup)=testTimeOut(userModel)>


    <div class="form-group">
      <label>Login name</label>
      <input [(ngModel)]="userModel.UserLogin" name="UserLogin" class="form-control" required>
    </div>

    <div class="form-group">
      <label>password</label>
      <input [(ngModel)]="userModel.UserPass" name="UserPass" class="form-control" type="password" >
    </div>

    <div class="form-group">
      <label *ngIf=isPasswordSame>repeat password</label>
      <label *ngIf=!isPasswordSame style="color:red">repeat password - repeated password is not the same</label>
      <input [(ngModel)]="userModel.UserPass2" name="UserPass2" class="form-control" type="password" (keyup)=validatePassword(userModel)>
    </div>

    <div class="form-group">
      <label>Name</label>
      <input [(ngModel)]="userModel.UserName" name="UserName" class="form-control">
    </div>

    <div class="form-group">
      <label>Surename</label>
      <input [(ngModel)]="userModel.UserSurename" name="UserSurename" class="form-control">
    </div>

    <div class="form-group">
      <label>Address</label>
      <input [(ngModel)]="userModel.UserAddress" name="UserAddress" class="form-control">
    </div>

    <div class="form-group">
      <label>City</label>
      <input [(ngModel)]="userModel.UserCity" name="UserCity" class="form-control">
    </div>

    <div class="form-group">
      <label>Zip code</label>
      <input [(ngModel)]="userModel.UserZipCode" name="UserZipCode" class="form-control">
    </div>

    <div class="form-group">
      <label>e mail</label>
      <input [(ngModel)]="userModel.UserMail" name="UserMail" class="form-control">
    </div>

    <div class="form-group">
      <label>Phone</label>
      <input [(ngModel)]="userModel.UserPhoneNumber" name="UserPhoneNumber" class="form-control">
    </div>

    <div class="form-group">
      <label>Phone2</label>
      <input [(ngModel)]="userModel.UserPhoneNumber2" name="UserPhoneNumber2" class="form-control">
    </div>


    <div class="form-group">
      <button (click)="registerForm(userModel)" type="submit" class="btn btn-success">Submit test</button>
    </div>

    
  </form>
</div>